@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #777;
  margin: 100px 0;
}

/* ANIMATION-1 */

.example-1 {
  margin: 0;
  padding: 0;
  display: flex;
}

.example-1 li {
  list-style: none;
  color: #fff;
  font-size: 120px;
  font-weight: bold;
  letter-spacing: 10px;
  transition: 2s;
}

.example-1:hover li {
  transform: rotate(45deg) translateY(-200px);
  opacity: 0;
  filter: blur(20px);
}

li:nth-child(1) {
  transition-delay: 0;
}

li:nth-child(2) {
  transition-delay: 0.4s;
}

li:nth-child(3) {
  transition-delay: 0.8s;
}

li:nth-child(4) {
  transition-delay: 1.2s;
}

li:nth-child(5) {
  transition-delay: 1.6s;
}

/* ANIMATION-2 */

.example-2 {
  margin-top: 10px;
  padding: 0;
  font-size: 120px;
  color: azure;
  text-transform: uppercase;
  position: relative;
}

.example-2:before {
  content: "text";
  position: absolute;
  top: 0;
  left: 0;
  color: #262626;
  width: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.example-2:hover:before {
  width: 100%;
}

/* ANIMATION-3 */

.container-3 {
  display: flex;
  text-align: center;
}

.icon-3 {
  width: 90px;
  height: 90px;
  background-color: #f1f1f1;
  border-radius: 30%;
  color: #10ac84;
  margin: 10px;
  box-shadow: 0 5px 15px -5px #00000070;
  position: relative;
  overflow: hidden;
}

.icon-3 i {
  line-height: 90px;
  font-size: 40px;
  transition: all 0.2s;
}

.icon-3:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}

.icon-3:before {
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  background-color: #10ac84;
  left: -150%;
  top: 90%;
  transform: rotate(45deg);
}

.icon-3:hover:before {
  animation: animation 0.7s 1 forwards;
}

@keyframes animation {
  0% {
    left: -150%;
    top: 90%;
  }
  50% {
    left: 15%;
    top: -40%;
  }
  100% {
    left: -13%;
    top: -10%;
  }
}

/* ANIMATION-4 */

.box-4 {
  margin-top: 75px;
  position: relative;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.box-4 h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.box-4 span {
  color: #58c747;
  font-size: 30px;
}

.box-4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid #58c747;
  border-bottom: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
}

.box-4:hover:before {
  transform: scaleX(1);
}

.box-4:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid #58c747;
  border-right: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
}

.box-4:hover:after {
  transform: scaleY(1);
  transition-delay: 0.5s;
}

.rotated {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.rotated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 4px solid #58c747;
  border-bottom: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleX(0);
}

.box-4:hover .rotated:before {
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.rotated:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 4px solid #58c747;
  border-right: 4px solid #58c747;
  box-sizing: border-box;
  transition: 0.5s;
  transform: scaleY(0);
}

.box-4:hover .rotated:after {
  transform: scaleY(1);
  transition-delay: 1s;
}

/* ANIMATION-5 */

.example-5 {
  margin-top: 75px;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 15px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef, 0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 1);
  animation: float 3s linear infinite;
  animation-direction: alternate;
}

@keyframes float {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

/* ANIMATION-6*/

.loading-6 {
  margin-top: 40px;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 12px;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}

/* ANIMATION-7*/

.background-7 {
  margin-top: 50px;
  height: 100vh;
  width: 100vw;
  background: url(img/bg.jpg);
  background-position: bottom left;
  animation: driving 20s linear infinite;
  position: relative;
}

@keyframes driving {
  from {
    background-position: bottom left;
  }
  to {
    background-position: bottom right;
  }
}

.car {
  position: absolute;
  left: 35%;
  bottom: -50px;
  width: 200px;
}

.motorbike {
  position: absolute;
  left: 55%;
  bottom: 55px;
  width: 150px;
}

/* ANIMATION-8*/

.animation-8 {
  margin-top: 75px;
  color: #fff;
  font-size: 50px;
}

.animation-8 span:before {
  content: "TRANSITIONS";
  text-transform: uppercase;
  color: #1b1464;
  animation: word-switch 4s infinite;
}

@keyframes word-switch {
  0% {
    content: "transitions";
  }
  50% {
    content: "animations";
  }
  100% {
    content: "transforms";
  }
}

/* ANIMATION-9*/

.banner-9 {
  height: 100vh;
  width: 100vw;
  background: url(./img/bg.png);
  background-position: 0 0;
  animation: animated-pattern 15s linear infinite;
}

@keyframes animated-pattern {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 800px 600px;
  }
}

/* ANIMATION-10*/

.animation-10 {
  margin-top: 50px;
  display: flex;
  padding: 0;
}

.animation-10 li {
  list-style: none;
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  animation: lighting 1.4s linear infinite;
}

@keyframes lighting {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  10% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}

.animation-10 li:nth-child(1) {
  animation-delay: 0;
}

.animation-10 li:nth-child(2) {
  animation-delay: 0.1s;
}

.animation-10 li:nth-child(3) {
  animation-delay: 0.2s;
}

.animation-10 li:nth-child(4) {
  animation-delay: 0.3s;
}

.animation-10 li:nth-child(5) {
  animation-delay: 0.4s;
}

.animation-10 li:nth-child(6) {
  animation-delay: 0.5s;
}

.animation-10 li:nth-child(7) {
  animation-delay: 0.6s;
}

.animation-10 li:nth-child(8) {
  animation-delay: 0.7s;
}

/* ANIMATION-11*/

.heart {
  margin-top: 100px;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ff3838;
  transform: rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}

.heart:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  25% {
    transform: rotate(45deg) scale(1);
  }
  30% {
    transform: rotate(45deg) scale(1.4);
  }
  50% {
    transform: rotate(45deg) scale(1.2);
  }
  70% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

/* ANIMATION-12*/

.animation-12 {
  margin-top: 100px;
  font-size: 150px;
  text-align: center;
  text-transform: uppercase;
  background: url(./img/12.jpg);
  -webkit-background-clip: text;
  color: transparent;
  animation: textbackground 20s linear infinite;
}

@keyframes textbackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

/* ANIMATION-13*/

.animation-13 {
  margin-top: 100px;
  padding: 0;
  display: flex;
  border-bottom: 10px solid #fff;
}

.animation-13 li {
  list-style: none;
  width: 30px;
  height: 30px;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 50%;
  animation: jumping 0.8s linear infinite;
}

@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(0);
  }
}

.animation-13 li:nth-child(1) {
  animation-delay: 0.45s;
}

.animation-13 li:nth-child(2) {
  animation-delay: 0.6s;
}

.animation-13 li:nth-child(3) {
  animation-delay: 0.3s;
}

.animation-13 li:nth-child(4) {
  animation-delay: 0s;
}

.animation-13 li:nth-child(5) {
  animation-delay: 0.15s;
}

/* ANIMATION-14*/

.animation-14 {
  margin: 50px 0 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url(/img/bg-14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.rain {
  height: 100%;
  background: url(./img/rain.png);
  animation: rain 0.3s linear infinite;
}

@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}

/* ANIMATION-15*/

.animation-15 {
  padding: 0;
  margin-top: 100px;
  display: flex;
}

.animation-15 li {
  list-style-type: none;
  width: 120px;
  height: 120px;
  margin: 0 20px;
  border: 2px solid #0a3d62;
  border-radius: 50%;
  transition: all 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-15 li i {
  font-size: 48px;
  color: #0a3d62;
  transition: all 0.5s;
}

.animation-15 li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a3d62;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s;
  opacity: 0;
}

.animation-15 li:hover:before {
  opacity: 1;
  transform: scale(0.8);
}

.animation-15 li:hover i {
  color: #fff;
}

.animation-15 li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s;
  opacity: 0;
  border: 2px dashed #0a3d62;
  box-sizing: border-box;
}

@keyframes rotating {
  0% {
    transform: scale(0.92) rotate(0deg);
  }
  100% {
    transform: scale(0.92) rotate(360deg);
  }
}

.animation-15 li:hover:after {
  opacity: 1;
  animation: rotating 10s linear infinite;
}

/* ANIMATION-16*/

.animation-16 {
  margin-top: 100px;
  padding: 0;
  display: flex;
}

.animation-16 li {
  list-style-type: none;
  font-size: 80px;
  letter-spacing: 20px;
  animation: loading 3s linear infinite;
}

@keyframes loading {
  0% {
    color: red;
    transform: translateX(-50px);
    letter-spacing: 20px;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    letter-spacing: -20px;
    opacity: 1;
  }
  100% {
    color: blue;
    transform: translateX(50px);
    letter-spacing: 20px;
    opacity: 0;
  }
}

.animation-16 li:nth-child(1) {
  animation-delay: 0s;
}

.animation-16 li:nth-child(2) {
  animation-delay: 0.2s;
}

.animation-16 li:nth-child(3) {
  animation-delay: 0.4s;
}

.animation-16 li:nth-child(4) {
  animation-delay: 0.6s;
}

.animation-16 li:nth-child(5) {
  animation-delay: 0.8s;
}

.animation-16 li:nth-child(6) {
  animation-delay: 1s;
}

.animation-16 li:nth-child(7) {
  animation-delay: 1.2s;
}

/* ANIMATION-17*/

.animation-17 {
  margin-top: 100px;
  width: 100px;
  height: 100px;
  background-color: #58ea00;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  font-size: 48px;
  position: relative;
}

.animation-17:before,
.animation-17:after {
  content: "";
  position: absolute;
  left: -20px;
  top: -20px;
  right: -20px;
  bottom: -20px;
  border: 1px solid #58ea00;
  border-radius: 50%;
  animation: pulsing 1.5s linear infinite;
}

.animation-17:after {
  animation-delay: 0.5s;
}

@keyframes pulsing {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

/* ANIMATION-18*/

.animation-18 {
  margin-top: 120px;
  width: 800px;
  height: 400px;
  background: url(./img/slider1.jpg);
  animation: change-bg 10s linear infinite;
}

@keyframes change-bg {
  0% {
    background: url(./img/slider1.jpg);
    background-size: cover;
  }
  20% {
    background: url(./img/slider1.jpg);
    background-size: cover;
  }
  25% {
    background: url(./img/slider2.jpg);
    background-size: cover;
  }
  45% {
    background: url(./img/slider2.jpg);
    background-size: cover;
  }
  50% {
    background: url(./img/slider3.jpg);
    background-size: cover;
  }
  70% {
    background: url(./img/slider3.jpg);
    background-size: cover;
  }
  75% {
    background: url(./img/slider4.jpg);
    background-size: cover;
  }
  100% {
    background: url(./img/slider4.jpg);
    background-size: cover;
  }
}

/* ANIMATION-19*/

.animation-19 {
  margin-top: 120px;
  width: 800px;
  height: 400px;
  animation: bgchange 10s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-19 h1 {
  font-size: 70px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

@keyframes bgchange {
  0% {
    background-color: #272727;
  }
  20% {
    background-color: blue;
  }
  40% {
    background-color: tomato;
  }
  60% {
    background-color: lightblue;
  }
  80% {
    background-color: darkgreen;
  }
  100% {
    background-color: #272727;
  }
}

/* ANIMATION-20*/

.animation-20 {
  margin-top: 120px;
  display: flex;
  border-top: 10px solid #fff;
}

.animation-20 span {
  display: block;
  width: 3px;
  height: 300px;
  background-color: #fff;
  margin: 0 29px;
  position: relative;
  transform-origin: top;
}

.animation-20 span:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  transform: translateX(-50%);
}

.animation-20 span:first-child {
  animation: left-arm 2s ease-in infinite;
}

.animation-20 span:last-child {
  animation: right-arm 2s ease-in infinite;
}

@keyframes left-arm {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes right-arm {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ANIMATION-21*/

.section-21 {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-21 {
  margin: 120px 0;
  position: relative;
  animation: animate 1s linear infinite;
  transform: rotate(45deg);
}

.animation-21 span {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: rotate 1s linear infinite;
}

.animation-21 span:nth-child(1) {
  top: 0;
  left: 0;
  background-color: #fceba7;
}

.animation-21 span:nth-child(2) {
  top: 0;
  right: 0;
  background-color: #55ddb9;
}

.animation-21 span:nth-child(3) {
  bottom: 0;
  left: 0;
  background-color: #fd6c64;
}

.animation-21 span:nth-child(4) {
  bottom: 0;
  right: 0;
  background-color: #1f78b0;
}

@keyframes animate {
  0% {
    width: 100px;
    height: 100px;
  }
  10% {
    width: 100px;
    height: 100px;
  }
  50% {
    width: 150px;
    height: 150px;
  }
  90% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  90% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* ANIMATION-22*/

.animation-22 {
  width: 150px;
  height: 150px;
  position: relative;
}

.animation-22 span {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #efefef;
  border-radius: 4px;
  animation: chase 2s linear infinite;
}

.animation-22 span:nth-child(2) {
  animation-delay: 0.7s;
}

.animation-22 span:nth-child(3) {
  animation-delay: 1.4s;
}

@keyframes chase {
  0% {
    top: 0;
    left: 0;
  }
  12.5% {
    top: 0;
    left: 50%;
  }
  25% {
    top: 0;
    left: 50%;
  }
  37.5% {
    top: 50%;
    left: 50%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  62.5% {
    top: 50%;
    left: 0;
  }
  75% {
    top: 50%;
    left: 0;
  }
  87.5% {
    top: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

/* ANIMATION-23*/

.animation-23 {
  margin-top: 100px;
  font-size: 40px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #fff;
}

.animation-23:before {
  content: "loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #f6b93b;
  overflow: hidden;
  border-right: 4px solid #f6b93b;
  animation: animate23 5s linear infinite;
}

@keyframes animate23 {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* ANIMATION-24*/

.animation-24 {
  margin-top: 100px;
  position: relative;
  text-transform: uppercase;
  width: 200px;
  height: 200px;
  color: #fff;
}

.animation-24 .ring {
  width: 100%;
  height: 100%;
  border-left: 4px solid #fff;
  border-radius: 50%;
  animation: rotate24 1s linear infinite;
}

.animation-24 .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 200px;
  font-size: 22px;
  font-weight: bold;
}

@keyframes rotate24 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ANIMATION-25*/

.animation-25 {
  margin-top: 150px;
  width: 300px;
  height: 3px;
  background-color: #efefef;
  animation: line 2s infinite alternate;
}

@keyframes line {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  45% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* ANIMATION-26*/

.animation-26 {
  margin-top: 100px;
  display: flex;
}

.obj {
  width: 6px;
  height: 40px;
  background-color: #fff;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading26 0.8s linear infinite;
}

@keyframes loading26 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.obj:nth-child(2) {
  animation-delay: 0.1s;
}

.obj:nth-child(3) {
  animation-delay: 0.2s;
}

.obj:nth-child(4) {
  animation-delay: 0.3s;
}

.obj:nth-child(5) {
  animation-delay: 0.4s;
}

.obj:nth-child(6) {
  animation-delay: 0.5s;
}

.obj:nth-child(7) {
  animation-delay: 0.6s;
}

.obj:nth-child(8) {
  animation-delay: 0.7s;
}

/* ANIMATION-26*/

.animation-27 {
  margin-top: 100px;
  display: flex;
}

.obj-1 {
  width: 6px;
  height: 40px;
  background-color: #fff;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading27 0.8s linear infinite;
  transform-origin: bottom;
}

@keyframes loading27 {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.obj-1:nth-child(2) {
  animation-delay: 0.1s;
}

.obj-1:nth-child(3) {
  animation-delay: 0.2s;
}

.obj-1:nth-child(4) {
  animation-delay: 0.3s;
}

.obj-1:nth-child(5) {
  animation-delay: 0.4s;
}

.obj-1:nth-child(6) {
  animation-delay: 0.5s;
}

.obj-1:nth-child(7) {
  animation-delay: 0.6s;
}

.obj-1:nth-child(8) {
  animation-delay: 0.7s;
}

/* ANIMATION-28*/

.animation-28 {
  margin-top: 100px;
  width: 200px;
  height: 200px;
  position: relative;
}

.animation-28 .outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 5px solid #eb4d4b;
  border-right: 5px solid #eb4d4b;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate28 1s linear infinite;
}

.animation-28 .middle {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border-left: 5px solid #218c74;
  border-right: 5px solid #218c74;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate28 1s linear infinite reverse;
}

.animation-28 .inner {
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;
  bottom: 60px;
  border-left: 5px solid #ccae62;
  border-right: 5px solid #ccae62;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate28 1s linear infinite;
}

.animation-28 .circle {
  position: absolute;
  top: 90px;
  right: 90px;
  left: 90px;
  bottom: 90px;
  background-color: #fff;
  border-radius: 50%;
}

@keyframes rotate28 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
